/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}

.header {
  background-color: #AA0601;
}
.header .header-box {
  display: flex;
  justify-content: space-between;
}
.header .header-box .headerLogo img {
  margin-top: 16px;
  margin-bottom: 15.43px;
}
.header .headerMenu {
  display: flex;
}
.header .headerMenu ul {
  display: flex;
  align-items: center;
  width: 428px;
  justify-content: space-between;
}
.header .headerMenu ul li a {
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: white;
}

.faq h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  margin-top: 96px;
  margin-bottom: 32px;
}
.faq-p {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 24px;
}
.faq-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}
.faq-ans {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 32px;
  background: #AA0601;
}
.footer .footerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 39px;
}
.footer .footerNav .menu {
  display: flex;
  width: 464px;
  justify-content: space-between;
}
.footer .footerNav .menu li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer .footerNav .menuImg {
  display: flex;
  width: 208px;
  justify-content: space-between;
}
.footer .footerNav .menuImg img {
  width: 48px;
}
.footer .footerContent {
  padding-bottom: 32px;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 32px;
}
.footer .footerContent .font-awesome {
  color: #FFFFFF;
  font-size: 35px;
  margin-right: 16px;
}
.footer .footerContent a {
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer .footerCopyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footerCopyright p {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer .footerCopyright .copyright-ul {
  display: flex;
  width: 174px;
  justify-content: space-between;
}
.footer .footerCopyright .copyright-ul li a {
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

@media (min-width: 767px) {
  .headerMenuRWD {
    display: none;
  }
}
@media (min-width: 376px) {
  .footerContact-m {
    display: none;
  }
}
@media (max-width: 767px) {
  .header .header-box {
    justify-content: center;
  }
  .header .headerMenu {
    display: none;
  }
  .header .headerMenuRWD ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .header .headerMenuRWD ul li {
    width: 48%;
    padding: 12px 0;
    border: 1px solid white;
  }
  .header .headerMenuRWD ul li a {
    text-decoration: none;
    color: white;
  }
  .container {
    max-width: 720px;
  }
  .banner {
    background-size: 768px 787px;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png");
    height: 787px;
  }
  .homeSection-box .content .item {
    width: 48%;
  }
  .homeSection-box .content .mb48 {
    margin-bottom: 48px;
  }
  .sectionContent .contentImg .content-item {
    width: 100%;
  }
  .sectionContent .contentImg .content-item .mb24 {
    margin-bottom: 24px;
  }
  .content-glasses {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-sm.png");
    height: 960px;
  }
  .content-glasses .glasses-box {
    justify-content: center;
  }
  .content-glasses .glasses-box .glasses-item img {
    width: 696px;
  }
  .content-glasses .glasses-box .mb24 {
    margin-bottom: 24px;
  }
  .customer-item-box {
    display: flex;
    width: 48%;
    justify-content: center;
  }
  .customer-item-box .customer-img img {
    width: 336px;
  }
  .mb24 {
    margin-bottom: 24px;
  }
  .contact-box .contact-form {
    width: 576px;
  }
  .contact-box .contact-form p {
    font-size: 16px;
    line-height: 24px;
  }
  .contact-box .contact-form input {
    width: 576px;
  }
  .contact-box .contact-form textarea {
    width: 576px;
  }
  .contact-box .contact-form .click-btn {
    padding: 16px 136px;
  }
}
@media (max-width: 374px) {
  .header .headerMenu ul {
    display: none;
  }
  .container {
    max-width: 347px;
  }
  .faq h2 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 40px;
    margin-bottom: 24px;
  }
  .faq-ans {
    margin-bottom: 24px;
  }
}
.footer {
  padding-top: 24px;
}
.footer .footerNav {
  padding-bottom: 24px;
  border-bottom: 1px solid white;
  margin-bottom: 16px;
}
.footer .footerNav .menu {
  display: none;
}
.footer .footerNav .menuImg {
  justify-content: flex-end;
  width: 100px;
  height: 54px;
}
.footer .footerNav .menuImg img {
  width: 24px;
}
.footer .footerNav .footerContact-m li {
  margin-bottom: 8px;
}
.footer .footerNav .footerContact-m li i {
  color: white;
}
.footer .footerNav .footerContact-m li a {
  text-decoration: none;
  color: white;
}
.footer .footerContent {
  display: none;
}
.footer .footerContent a {
  font-size: 16px;
  line-height: 24px;
}
.footer .footerContent .font-awesome {
  font-size: 24px;
}
.footer .footerCopyright {
  flex-direction: column;
  align-items: flex-start;
}
.footer .footerCopyright p {
  margin-bottom: 8px;
}
.footer .footerCopyright .copyright-ul {
  flex-direction: column;
}
.footer .footerCopyright .copyright-ul li {
  margin-bottom: 8px;
}/*# sourceMappingURL=all.css.map */