// $darkRed:#650300;
// $pink:#FBF2F2;
// $black:#000000;
// $red:#AA0601;
.faq{
    h2{
        font-size: 48px;
        line-height: 72px;
        font-weight: bold;
        padding-left: 16px;
        border-left: 8px solid #9F1213;
        margin-top: 96px;
        margin-bottom: 32px;
    }
    &-p{
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
        margin-bottom: 24px;
    }
    &-title{
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        margin-bottom: 8px;
    }
    &-ans{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
    }
}
.footer{
    padding-top: 60px;
    padding-bottom: 32px;
    background: $red;
    .footerNav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 39px;
        .menu{
            display: flex;
            width: 464px;
            justify-content: space-between;
            li a{
                text-decoration: none;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
        .menuImg{
            display: flex;
            width: 208px;
            justify-content: space-between;
            img{
                width: 48px;
            }
        }
    }
    .footerContent{
        padding-bottom: 32px;
        border-bottom: 1px solid #FFFFFF;
        margin-bottom: 32px;
        // .mb8{
        //     margin-bottom: 8px;
        // }
        .font-awesome{
            color:#FFFFFF;
            font-size: 35px;
            margin-right: 16px;
        }
        a{
            font-size: 36px;
            line-height: 54px;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
    .footerCopyright{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 16px;
            line-height: 24px;
            color:#FFFFFF;
        }
        .copyright-ul{
            display: flex;
            width: 174px;
            justify-content: space-between;
            li a{
                font-size: 14px;
                line-height: 21px;
                color:#FFFFFF;
                text-decoration: none;
            }
        }
    }
}
